<div class='beer-form-wrapper'>
  <%= simple_form_for(beer) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :brewer %>
      <%= f.input :style %>
      <%= f.input :store %>
      <%= f.input :link %>
      <%= f.input :desc %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-outline-success' %>
    </div>
  <% end %>
</div>
