<p id="notice"><%= notice %></p>

<h1 class='beer-header' style='border-bottom: 0;'>
  <i class="fa fa-beer beer-icon text-warning"></i>Dustin's Beer Requests
  <% if current_admin %>
    <%= link_to 'New Beer', new_beer_path, class: 'btn btn-outline-success btn-sm', style: 'float: right; margin-top: 7px;' %>
  <% end %>
</h1>

<table class='sortable table table-striped table-rounded'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Brewer</th>
      <th>Style</th>
      <th>Store</th>
      <th>URL</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% beers.each do |beer| %>
      <tr id='beer-<%= beer.id %>'>
        <td><%= beer.name.titleize %></td>
        <td><%= beer.brewer.titleize %></td>
        <td><%= beer.style.titleize %></td>
        <td><%= beer.store.titleize %></td>
        <td><%= link_to 'Link', beer.link, target: '_blank', class: 'beer-url' if beer.link.present? %></td>
        <td><%= link_to 'Details', beer, class: 'btn btn-outline-info btn-sm'  %></td>
        <% if current_admin %>
          <td><%= link_to 'Edit', edit_beer_path(beer), class: 'btn btn-outline-primary btn-sm'  %></td>
        <% end %>
        <td><%= link_to 'Purchase', purchase_beer_path(beer), data: { confirm: 'Are you buying a beer for Dustin?' }, remote: true, class: 'btn btn-success btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
